<div id="{{mojit_view_id}}">
    <div class="notification"></div>
    <form>
        <label for="new-word">Word</label>
        <input name="new-word" id="new-word"/>
        <fieldset>
            <legend>Type</legend>
            <input type="radio" id="new-word-type-noun" name="new-word-type" value="noun" checked="true" />
            <label for="new-word-type-noun">Noun</label>
            <input type="radio" id="new-word-type-verb" name="new-word-type" value="verb"/>
            <label for="new-word-type-verb">Verb</label>
            <input type="radio" id="new-word-type-adjective" name="new-word-type" value="adjective"/>
            <label for="new-word-type-adjective">Adjective</label>
            <input type="radio" id="new-word-type-pronoun" name="new-word-type" value="pronoun"/>
            <label for="new-word-type-pronoun">Pronoun</label>
        </fieldset>
        <fieldset id="meanings">
            <legend>Meanings</legend>
            <label for="new-word-meaning-1">Meaning 1</label>
            <input name="new-word-meaning-1" id="new-word-meaning-1" class="new-word-meanings"/>
            <input type="button" id="add-meaning" value="Add another meaning" />
        </fieldset>
        <table id="noun-variations">
            <caption>Variations</caption>
            <tr>
                <th>ವಿಭಕ್ತಿ</th>
                <th>ಏಕ ವಚನ</th>
                <th>ಬಹು ವಚನ</th>
            </tr>
            <tr>
                <th>ಪ್ರಥಮ</th>
                <td><input/></td>
                <td><input/></td>
            </tr>
            <tr>
                <th>ದ್ವಿತೇಯ</th>
                <td><input/></td>
                <td><input/></td>
            </tr>
            <tr>
                <th>ತ್ರಿತೀಯ</th>
                <td><input/></td>
                <td><input/></td>
            </tr>
            <tr>
                <th>ಚತುರ್ಥಿ</th>
                <td><input/></td>
                <td><input/></td>
            </tr>
            <tr>
                <th>ಪಂಚಮಿ</th>
                <td><input/></td>
                <td><input/></td>
            </tr>
            <tr>
                <th>ಷಷ್ಠಿ</th>
                <td><input/></td>
                <td><input/></td>
            </tr>
            <tr>
                <th>ಸಪ್ತಮಿ</th>
                 <td><input/></td>
                <td><input/></td>
            </tr>
        </table>
        <table id="verb-variations">
            <caption>Variations</caption>
            <tr>
                <th>ಪುರುಷ</th>
                <th>ಏಕ ವಚನ</th>
                <th>ಬಹು ವಚನ</th>
            </tr>
            <tr>
                <th>ವರ್ತಮಾನ ಪ್ರಥಮ</th>
                <td><input/></td>
                <td><input/></td>
            </tr>
            <tr>
                <th>ವರ್ತಮಾನ ಮಧ್ಯಮ</th>
                <td><input/></td>
                <td><input/></td>
            </tr>
            <tr>
                <th>ವರ್ತಮಾನ ಉತ್ತಮ</th>
                <td><input/></td>
                <td><input/></td>
            </tr>
            <tr>
                <th>ಭೂತ ಪ್ರಥಮ</th>
                <td><input/></td>
                <td><input/></td>
            </tr>
            <tr>
                <th>ಭೂತ ಮಧ್ಯಮ</th>
                <td><input/></td>
                <td><input/></td>
            </tr>
            <tr>
                <th>ಭೂತ ಉತ್ತಮ</th>
                <td><input/></td>
                <td><input/></td>
            </tr>
            <tr>
                <th>ಭವಿಷ್ಯ ಪ್ರಥಮ</th>
                <td><input/></td>
                <td><input/></td>
            </tr>
            <tr>
                <th>ಭವಿಷ್ಯ ಮಧ್ಯಮ</th>
                <td><input/></td>
                <td><input/></td>
            </tr>
            <tr>
                <th>ಭವಿಷ್ಯ ಉತ್ತಮ</th>
                <td><input/></td>
                <td><input/></td>
            </tr>
            <tr>
                <th>ಹೇತುಕ ಪ್ರಥಮ</th>
                <td><input/></td>
                <td><input/></td>
            </tr>
            <tr>
                <th>ಹೇತುಕ ಮಧ್ಯಮ</th>
                <td><input/></td>
                <td><input/></td>
            </tr>
            <tr>
                <th>ಹೇತುಕ ಉತ್ತಮ</th>
                <td><input/></td>
                <td><input/></td>
            </tr>
            <tr>
                <th>ಅಜ್ನ್ಯಾ /ಅಶೀ ಪ್ರಥಮ</th>
                <td><input/></td>
                <td><input/></td>
            </tr>
            <tr>
                <th>ಅಜ್ನ್ಯಾ /ಅಶೀ ಮಧ್ಯಮ</th>
                <td><input/></td>
                <td><input/></td>
            </tr>
            <tr>
                <th>ಅಜ್ನ್ಯಾ /ಅಶೀ ಉತ್ತಮ</th>
                <td><input/></td>
                <td><input/></td>
            </tr>
            <tr>
                <th>present passive ಪ್ರಥಮ</th>
                <td><input/></td>
                <td><input/></td>
            </tr>
            <tr>
                <th>present passive ಮಧ್ಯಮ</th>
                <td><input/></td>
                <td><input/></td>
            </tr>
            <tr>
                <th>present passive ಉತ್ತಮ</th>
                <td><input/></td>
                <td><input/></td>
            </tr>
            <tr>
                <th>past passive ಪ್ರಥಮ</th>
                <td><input/></td>
                <td><input/></td>
            </tr>
            <tr>
                <th>past passive ಮಧ್ಯಮ</th>
                <td><input/></td>
                <td><input/></td>
            </tr>
            <tr>
                <th>past passive ಉತ್ತಮ</th>
                <td><input/></td>
                <td><input/></td>
            </tr>
            <tr>
                <th>future passive ಪ್ರಥಮ</th>
                <td><input/></td>
                <td><input/></td>
            </tr>
            <tr>
                <th>future passive ಮಧ್ಯಮ</th>
                <td><input/></td>
                <td><input/></td>
            </tr>
            <tr>
                <th>future passive ಉತ್ತಮ</th>
                <td><input/></td>
                <td><input/></td>
            </tr>
            <tr>
                <th>optative passive ಪ್ರಥಮ</th>
                <td><input/></td>
                <td><input/></td>
            </tr>
            <tr>
                <th>optative passive ಮಧ್ಯಮ</th>
                <td><input/></td>
                <td><input/></td>
            </tr>
            <tr>
                <th>optative passive ಉತ್ತಮ</th>
                <td><input/></td>
                <td><input/></td>
            </tr>
            <tr>
                <th>present participle ಪ್ರಥಮ</th>
                <td><input/></td>
                <td><input/></td>
            </tr>
            <tr>
                <th>present participle ಮಧ್ಯಮ</th>
                <td><input/></td>
                <td><input/></td>
            </tr>
            <tr>
                <th>present participle ಉತ್ತಮ</th>
                <td><input/></td>
                <td><input/></td>
            </tr>
            <tr>
                <th>passive participle ಪ್ರಥಮ</th>
                <td><input/></td>
                <td><input/></td>
            </tr>
            <tr>
                <th>passive participle ಮಧ್ಯಮ</th>
                <td><input/></td>
                <td><input/></td>
            </tr>
            <tr>
                <th>passive participle ಉತ್ತಮ</th>
                <td><input/></td>
                <td><input/></td>
            </tr>
        </table>
        <input type="button" value="Add word" id="add-word-button" />
    </form>
</div>
