div(id=meta.id, class="display-word-page")
    h1 #{word}
    h2 #{entry.type}
    h2 Meanings
    ol
        for meaning in entry.meanings
            li #{meaning}
    h2 Variations
    table(class="variations")
        tr
            th ವಿಭಕ್ತಿ
            th ಏಕ ವಚನ
            th ಬಹು ವಚನ
        - vibhaktis = ["ಪ್ರಥಮ", "ದ್ವಿತೇಯ", "ತ್ರಿತೀಯ", "ಚತುರ್ಥಿ", "ಪಂಚಮಿ", "ಷಷ್ಠಿ", "ಸಪ್ತಮಿ"]
        each variation, i in entry.variations
            tr
                th #{vibhaktis[i]}
                td #{variation[0]}
                td #{variation[1]}
