div(id="search-result")
    table(id=meta.id)
        if matches[0]
            each match, i in matches
                tr
                    th Word
                    th Type
                    th Meaning
                    th Authors
                each type in ["noun", "verb", "adjective", "pronoun"]
                    if match[type]
                        tr
                            td
                                a(href="/word?key="+encodeURIComponent(match._id)+"&type="+type) #{match._id}
                            td #{type}
                            td
                                for meaning in match[type].meanings
                                    p #{meaning}
                            td
                                each author in match[type].authors
                                    | #{author}
        else
            | No matches found.
